.card{
  width: 320px;
  height: 400px;
  margin: 24px auto;
  padding: 16px;
  border: 1px solid black;
  border-radius: 16px;
  background:gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic{
  display: block;
  margin: 0 auto 12px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}