@{
  ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
  <h2>Welcome to Dashboard</h2>
  <h2>Dashboard</h2>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Users</a>
    <a class="btn btn-success" asp-controller="Kids" asp-action="Index">Kids</a>
    <a class="btn btn-warning" asp-controller="Course" asp-action="Index">Courses</a>
    <a class="btn btn-info" asp-controller="Enrollment" asp-action="Index">Enrollment</a>
  </div>

</div>
</div>
